In [1]:
if True:
    a=1

In [2]:
a

1

In [10]:
if a==2:
    b=2
elif a==1:
    b=1
else:
    b=3

In [11]:
b

1

In [12]:
#for loops

In [13]:
mylist = [1,2,3,4,5,6,7]

In [14]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7

In [16]:
sum =0
for num in mylist:
    sum = sum + num
    print(sum)
print(sum)

1
3
6
10
15
21
28
28

In [18]:
mytuplelist = [(1,2),(3,4),(4,5),(6,7),(8,9)]

In [19]:
for item in mytuplelist:
    print(item)

(1, 2)
(3, 4)
(4, 5)
(6, 7)
(8, 9)

In [22]:
#tuple unpacking
for (a,b) in mytuplelist:
    print(a)
    print(b)

1
2
3
4
4
5
6
7
8
9

In [31]:
d = {'k1': 1, 'k2':2, 'k3':3}

for key,value in d.items():
    print(key)
    print(value)

k1
1
k2
2
k3
3

In [32]:
#while loops

In [36]:
x =0

while x < 5:
    print(f'x is {x}')
    print(f' x will increment {x}')
    x = x+1
else:
    print("done")

x is 0
 x will increment 0
x is 1
 x will increment 1
x is 2
 x will increment 2
x is 3
 x will increment 3
x is 4
 x will increment 4
done

In [38]:
#pass
x = [1,2,3]

for item in x:
    # only comment here will not work
    pass

In [45]:
#continue

mystring = 'Aruni'

for letter in mystring:
    if letter == 'r':
        continue
    print(letter)

A
u
n
i

In [46]:
#break

mystring = 'Aruni'

for letter in mystring:
    if letter == 'r':
        break
    print(letter)

A

In [ ]:

# operator

In [48]:
#range
for num in range(4,14,2):
    print(num)

4
6
8
10
12

In [ ]:
#enumerate - returns tuple

In [49]:
word = 'abcdefg'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')
(5, 'f')
(6, 'g')

In [50]:
#zip - pair two list

In [52]:
mylist1 = [1,2,3,4,5,6,7]
mylist2 = ['a','b','c']

for item in zip(mylist1, mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [53]:
2 in [1,2,3]

True

In [54]:
min(mylist1)

1

In [55]:
max(mylist2)

'c'

In [56]:
from random import shuffle

In [57]:
shuffle(mylist1)

In [58]:
mylist1

[6, 4, 3, 2, 1, 7, 5]

In [59]:
input("enter a num")

enter a num12

'12'

In [60]:
#list comprehensions

In [61]:
word = 'hello world'
mylist = [letter for letter in word]
mylist

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [66]:
mylist2 = [x**2 for x in range(1,11) if x%2==0]
mylist2

[4, 16, 36, 64, 100]

In [67]:
#nested
mylist = [x*y for x in[1,2,3] for y in [1,10,100]]
mylist

[1, 10, 100, 2, 20, 200, 3, 30, 300]

In [69]:
for i in range(10):
    pass

In [70]:
i

9

In [71]:
 1+-2

-1

In [85]:
mylist = ["FizzBuxx" if x%3==0 and x%5==0 else "Fizz" if x%3==0 else "Buzz" if x%5==0 else x for x in range(1,101)]
mylist

[1,
 2,
 'Fizz',
 4,
 'Buzz',
 'Fizz',
 7,
 8,
 'Fizz',
 'Buzz',
 11,
 'Fizz',
 13,
 14,
 'FizzBuxx',
 16,
 17,
 'Fizz',
 19,
 'Buzz',
 'Fizz',
 22,
 23,
 'Fizz',
 'Buzz',
 26,
 'Fizz',
 28,
 29,
 'FizzBuxx',
 31,
 32,
 'Fizz',
 34,
 'Buzz',
 'Fizz',
 37,
 38,
 'Fizz',
 'Buzz',
 41,
 'Fizz',
 43,
 44,
 'FizzBuxx',
 46,
 47,
 'Fizz',
 49,
 'Buzz',
 'Fizz',
 52,
 53,
 'Fizz',
 'Buzz',
 56,
 'Fizz',
 58,
 59,
 'FizzBuxx',
 61,
 62,
 'Fizz',
 64,
 'Buzz',
 'Fizz',
 67,
 68,
 'Fizz',
 'Buzz',
 71,
 'Fizz',
 73,
 74,
 'FizzBuxx',
 76,
 77,
 'Fizz',
 79,
 'Buzz',
 'Fizz',
 82,
 83,
 'Fizz',
 'Buzz',
 86,
 'Fizz',
 88,
 89,
 'FizzBuxx',
 91,
 92,
 'Fizz',
 94,
 'Buzz',
 'Fizz',
 97,
 98,
 'Fizz',
 'Buzz']