In [1]:
#collections

#counter

In [3]:
from collections import Counter

In [5]:
mylist = [1,2,3,2,3,1,1,1,4,5,6,5,4,3,4,5,7,2,1,3,4,2,3,4,5,1,2,5,4,]

In [7]:
c=Counter(mylist)

In [9]:
c.most_common(2)

[(1, 6), (4, 6)]

In [10]:
list(c)

[1, 2, 3, 4, 5, 6, 7]

In [3]:
from collections import defaultdict

In [4]:
d = {'a': 10}

In [8]:
d = defaultdict(lambda: 0)

In [12]:
d

defaultdict(<function __main__.<lambda>()>, {'a': 0})

In [13]:
d['a'] =10

In [14]:
d['a']

10

In [15]:
d['wrong']

0

In [17]:
d['wrong2']

0

In [18]:
d

defaultdict(<function __main__.<lambda>()>, {'a': 10, 'wrong': 0, 'wrong2': 0})

In [21]:
mytuple = (10,222,3232)

In [22]:
mytuple[1]

222

In [23]:
from collections import namedtuple

In [24]:
Dog= namedtuple('Dog', ['age', 'breed'])

In [25]:
sammy= Dog(age=1, breed='husky')

In [26]:
sammy

Dog(age=1, breed='husky')

In [27]:
sammy.age

1

In [28]:
sammy[0]

1